:root {
    --main-font:'Open Sans', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --accent-color:#FF6C00;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--main-font); 
    font-weight: 600;
}

/*====================HEADER====================*/
.menu-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    /* color: #FFFFFF; */
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.menu-link.current{
    color: var(--accent-color);
}

.tel-link {
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;
/* color: #FFFFFF; */
}

.tel-link:hover,
.tel-link:focus
 {
    color: var(--accent-color);
}

.modal-btn {
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
cursor: pointer;
/* color: #FFFFFF; */
}

.modal-btn:hover,
.modal-btn:focus
 {
    background-color: var(--accent-color);
    color: #fff;
}
/*====================HEADER====================*/

/*====================HERO====================*/
.social-links-list-link {
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.social-links-list-link:hover,
.social-links-list-link:focus {
    color: var(--accent-color);
}

.suptitle {
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}

.hero-title {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 48px;
line-height: 1.18;
letter-spacing: 0.05em;
/* color: #FFFFFF; */
}

.description {
font-weight: 400;
font-size: 16px;
line-height: 1.67;
letter-spacing: 0.02em;
color: #9DA4BD;
}

/*====================HERO====================*/


/*====================ABOUT====================*/
.about-title {
font-size: 11px;
line-height: 1.18;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}

.about-text-suptitle {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: #303030;
}

.about-text-description {
font-weight: 400;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: #555555;
}

.about-text-main-description {
font-weight: 400;
font-size: 14px;
line-height: 1.86;
letter-spacing: 0.02em;
color: #555555;
}

/*====================ABOUT====================*/

/*====================SERVICES====================*/
.services-suptitle{  
font-size: 11px;
line-height: 1.18;
letter-spacing: 0.1em;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}

.services-title {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
/* color: #FFFFFF; */
}

.services-list-item-desc {
font-weight: 400;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: #9DA4BD;
}

.services-list-item-price {
font-weight: 400;
font-size: 18px;
line-height: 1.67;
text-align: right;
letter-spacing: 0.02em;
color: #9DA4BD;
}

/*====================SERVICES====================*/

/*====================ADVANTAGES====================*/

.advantages-left-side-list-item-number {
font-weight: 700;
font-size: 42px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.05em;
color: #303030;
}

.advantages-left-side-list-item-plus {
font-size: 16px;
line-height: 1.38;
text-align: center;
color: var(--accent-color);
}

.advantages-left-side-list-item-number-desc {
font-size: 11px;
line-height: 1.36;
text-align: center;
color: #303030;
}

.advantages-right-side-suptitle {
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}

.advantages-right-side-title {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: #303030;
}

.advantages-right-side-text {
font-weight: 400;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: #555555;
}

/*====================ADVANTAGES====================*/

/*====================MASTERS====================*/
.masters-suptitle {
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}

.masters-title {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: #303030;  
}

.masters-list-item-name {
font-weight: 400;
font-size: 18px;
line-height: 1.39;
text-align: center;
letter-spacing: 0.02em;
color: #303030;
}

.masters-list-item-desc {
font-weight: 400;
font-size: 14px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.02em;
color: var(--accent-color);
}

/*====================GALLERY====================*/
/* .gallery-title {

} */

.gallery-suptitle {
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}

/*====================GALLERY====================*/

/*====================FEEDBACK====================*/
.feedback-title {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
/* color: #FFFFFF; */
}
/*====================FEEDBACK====================*/

/*====================CONTACTS====================*/
.contacts-address {
    font-style: normal;
}

.contacts-title {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
/* color: #FFFFFF; */
}

.contacts-address-list-item-link {
font-weight: 400;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: #9DA4BD; 
}

.contacts-address-list-item-link:hover,
.contacts-address-list-item-link:focus {
    color: var(--accent-color);
}


.contacts-working-hours-title {
font-size: 11px;
line-height: 1.18;
letter-spacing: 0.1em;
text-transform: uppercase;
/* color: #FFFFFF; */
}

.contacts-working-hours-desc {
font-weight: 400;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: #9DA4BD;
}

/*====================FOOTER====================*/
.footer-copyright {
font-size: 11px;
line-height: 15px;
letter-spacing: 0.2em;
color: #9DA4BD;
}

.footer-social-links-list-item-link {
font-size: 11px;
line-height: 15px;
letter-spacing: 0.2em;
color: #303030;
}

.footer-social-links-list-item-link:hover,
.footer-social-links-list-item-link:focus {
    color: var(--accent-color);
}

/*====================FOOTER====================*/